<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nima.guideme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Addplace"
            android:label="@string/title_activity_addplace" >
            <action android:name="com.nima.guideme.Addplace" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name=".Adddistrict"
            android:label="@string/title_activity_adddistrict" >
        </activity>
        <activity
            android:name=".ShowDistrict"
            android:label="@string/title_activity_show_district" >
        </activity>
        <activity
            android:name=".ProvincePage"
            android:label="@string/title_activity_province_page" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASalZG_CjZesC6Tx5gq99rGftw4FBkzO8" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".Image"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".ShowPlace"
            android:label="@string/title_activity_show_place" >
        </activity>
    </application>

</manifest>
